@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
	font-family: "Raleway", sans-serif;
}

body {
	@apply flex flex-col w-screen h-screen;
	@apply bg-surface-100 text-surface-900;
}
